<h1>Đăng Nhập</h1>

<div class="w3layoutscontaineragileits">
    <form  method="post" action="/dang-nhap">
        <input type="email" Name="Username" placeholder="EMAIL" required="">
        <input type="password" Name="Password" placeholder="PASSWORD" required="">
        <ul class="agileinfotickwthree">
            <li>
                <input type="checkbox" id="brand1" value="">
                <label for="brand1"><span></span>Remember me</label>
            </li>
        </ul>
        <div class="aitssendbuttonw3ls">
            <!-- <input type="submit" value="LOGIN"> -->
            <a class="btnLogin">Đăng Nhập</a>
        </div>
    </form>
</div>

<div class="w3footeragile">
    <p> &copy; Design by Hoang Van Bay</a></p>
</div>