<h1>Đăng Nhập</h1>

<div class="w3layoutscontaineragileits">
    <form  method="post" action="/login">
        <input type="email" Name="email" placeholder="EMAIL" required="" value="admin123@gmail.com">
        <input type="password" Name="password" placeholder="PASSWORD" required="" value="000000">
        <ul class="agileinfotickwthree">
            <li>
                <input type="checkbox" id="brand1" value="">
                <label for="brand1"><span></span>Remember me</label>
            </li>
        </ul>
        <div class="aitssendbuttonw3ls">
            <!-- <input type="submit" value="LOGIN"> -->
            <button type="submit" class="btnLogin">Đăng Nhập</button>
        </div>
    </form>
</div>

<div class="w3footeragile">
    <p> &copy; Design by Hoang Van Bay</a></p>
</div>